<!DOCTYPE html>
<html>
    <head>
        <title>dpgonline - converting</title>
        <meta http-equiv="refresh" content="5"><link rel="icon" type="image/x-icon" href="/favicon.ico">
        <style>
        body{
            font-family: sans-serif;
            background-color:#C3B1E1;
            padding:10px;
            max-width:600px;
        }
        </style>
    </head>
    <body>
        <h1>Your media is being converted.</h1>
        <p>Please keep this page open. Your download will begin soon.</p>
        <hr>
        <sup>dpgonline - {{ queue_length }} video(s) in queue - {{ version }}</sup>
    </body>
</html>
