<!DOCTYPE html>
<html>
    <head>
        <title>dpgonline - queue</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta http-equiv="refresh" content="5">
         <style>body{font-family: sans-serif;background-color:#C3B1E1;padding:10px;max-width:600px;}</style>
    </head>
    <body>
        <h1>You are currently in a queue.</h1>
        <p>Position: {{ queue_pos }}</p>
        <p>Your media will be converted shortly. Please keep this page open.</p>
        <hr>
        <sup>dpgonline - {{ queue_length }} video(s) in queue - {{ version }}</sup>
    </body>
</html>
